# DataCo Smart Supply Chain Analysis

## Objective
The objective of this project is to analyze supply chain operations
and identify factors affecting delivery delays, shipping efficiency,
and overall business performance using Python, SQL, and Power BI.

## Library Imports

In [ ]:
import pandas as pd
import numpy as np

## DATA LOADING

In [10]:
df = pd.read_csv(
    r"C:\Users\deepa\OneDrive\Desktop\projects\DataCoSupplyChainDataset.csv",
    encoding="latin1")

## DATA UNDERSTANDING & EXPLORATION

In [11]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [12]:
df.shape

(180519, 53)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [14]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [15]:
df.describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,...,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180516.000000,180519.000000,180519.000000,...,180519.000000,180519.000000,180519.000000,180519.000000,24840.000000,180519.000000,180519.000000,0.0,180519.000000,180519.0
mean,3.497654,2.931847,21.974989,183.107609,0.548291,31.851451,6691.379495,35921.126914,5.443460,29.719955,...,2.127638,203.772096,183.107609,21.974989,55426.132327,692.509764,31.851451,NaN,141.232550,0.0
std,1.623722,1.374449,104.433526,120.043670,0.497664,15.640064,4162.918106,37542.461122,1.629246,9.813646,...,1.453451,132.273077,120.043670,104.433526,31919.279101,336.446807,15.640064,NaN,139.732492,0.0
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,...,1.000000,9.990000,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,0.0
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.500000,725.000000,4.000000,18.265432,...,1.000000,119.980003,104.379997,7.000000,23464.000000,403.000000,18.000000,NaN,50.000000,0.0
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6457.000000,19380.000000,5.000000,33.144863,...,1.000000,199.919998,163.990005,31.520000,59405.000000,627.000000,29.000000,NaN,59.990002,0.0
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,78207.000000,7.000000,39.279617,...,3.000000,299.950012,247.399994,64.800003,90008.000000,1004.000000,45.000000,NaN,199.990005,0.0
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,...,5.000000,1999.989990,1939.989990,911.799988,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0

### Data Cleaning - Copying & Dropping Columns

In [17]:
df_clean = df.copy()

In [18]:
drop_column = ['Customer Email','Customer Password','Customer Street','Customer Zipcode',
               'Latitude', 'Longitude',"Order Zipcode" ,'Product Description', 'Product Image', 'Product Status']

df_clean.drop(columns=drop_column, inplace=True)

In [19]:
df_clean.shape

(180519, 43)

### COLUMN RENAMING & DATA TYPES

In [20]:
df_clean.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Fname', 'Customer Id', 'Customer Lname',
       'Customer Segment', 'Customer State', 'Department Id',
       'Department Name', 'Market', 'Order City', 'Order Country',
       'Order Customer Id', 'order date (DateOrders)', 'Order Id',
       'Order Item Cardprod Id', 'Order Item Discount',
       'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price',
       'Order Item Profit Ratio', 'Order Item Quantity', 'Sales',
       'Order Item Total', 'Order Profit Per Order', 'Order Region',
       'Order State', 'Order Status', 'Product Card Id', 'Product Category Id',
       'Product Name', 'Product Price', 'shipping date (DateOrders)',
       'Shipping Mode'],
      dtype='object')

In [21]:
df_clean.columns = (
    df_clean.columns
    .str.strip()
    .str.lower()
    .str.replace(" ","_")
    .str.replace("(","" ,regex = False)
    .str.replace(")","", regex = False)
                   )

In [22]:
df_clean.columns

Index(['type', 'days_for_shipping_real', 'days_for_shipment_scheduled',
       'benefit_per_order', 'sales_per_customer', 'delivery_status',
       'late_delivery_risk', 'category_id', 'category_name', 'customer_city',
       'customer_country', 'customer_fname', 'customer_id', 'customer_lname',
       'customer_segment', 'customer_state', 'department_id',
       'department_name', 'market', 'order_city', 'order_country',
       'order_customer_id', 'order_date_dateorders', 'order_id',
       'order_item_cardprod_id', 'order_item_discount',
       'order_item_discount_rate', 'order_item_id', 'order_item_product_price',
       'order_item_profit_ratio', 'order_item_quantity', 'sales',
       'order_item_total', 'order_profit_per_order', 'order_region',
       'order_state', 'order_status', 'product_card_id', 'product_category_id',
       'product_name', 'product_price', 'shipping_date_dateorders',
       'shipping_mode'],
      dtype='object')

In [23]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 43 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   type                         180519 non-null  object
 1   days_for_shipping_real       180519 non-null  int64
 2   days_for_shipment_scheduled  180519 non-null  int64
 3   benefit_per_order            180519 non-null  float64
 4   sales_per_customer           180519 non-null  float64
 5   delivery_status              180519 non-null  object
 6   late_delivery_risk           180519 non-null  int64
 7   category_id                  180519 non-null  int64
 8   category_name                180519 non-null  object
 9   customer_city                180519 non-null  object
 10  customer_country             180519 non-null  object
 11  customer_fname               180519 non-null  object
 12  customer_id                  180519 non-null  int64
 13  customer_lname               180511 non-null  object
 14  customer_segment             180519 non-null  object
 15  customer_state               180519 non-null  object
 16  department_id                180519 non-null  int64
 17  department_name              180519 non-null  object
 18  market                       180519 non-null  object
 19  order_city                   180519 non-null  object
 20  order_country                180519 non-null  object
 21  order_customer_id            180519 non-null  int64
 22  order_date_dateorders        180519 non-null  object
 23  order_id                     180519 non-null  int64
 24  order_item_cardprod_id       180519 non-null  int64
 25  order_item_discount          180519 non-null  float64
 26  order_item_discount_rate     180519 non-null  float64
 27  order_item_id                180519 non-null  int64
 28  order_item_product_price     180519 non-null  float64
 29  order_item_profit_ratio      180519 non-null  float64
 30  order_item_quantity          180519 non-null  int64
 31  sales                        180519 non-null  float64
 32  order_item_total             180519 non-null  float64
 33  order_profit_per_order       180519 non-null  float64
 34  order_region                 180519 non-null  object
 35  order_state                  180519 non-null  object
 36  order_status                 180519 non-null  object
 37  product_card_id              180519 non-null  int64
 38  product_category_id          180519 non-null  int64
 39  product_name                 180519 non-null  object
 40  product_price                180519 non-null  float64
 41  shipping_date_dateorders     180519 non-null  object
 42  shipping_mode                180519 non-null  object
dtypes: float64(10), int64(13), object(20)
memory usage: 59.2+ MB

In [24]:
df_clean["order_date_dateorders"] = pd.to_datetime(df_clean["order_date_dateorders"], errors="coerce")

df_clean["shipping_date_dateorders"] = pd.to_datetime(df_clean["shipping_date_dateorders"], errors="coerce")

In [25]:
id_columns = ['category_id', 'customer_id', 'department_id', 'order_customer_id',
              'order_id', 'order_item_cardprod_id', 'order_item_id', 'product_card_id', 'product_category_id']

df_clean[id_columns] = df_clean[id_columns].astype(str)

In [26]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 43 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   type                         180519 non-null  object
 1   days_for_shipping_real       180519 non-null  int64
 2   days_for_shipment_scheduled  180519 non-null  int64
 3   benefit_per_order            180519 non-null  float64
 4   sales_per_customer           180519 non-null  float64
 5   delivery_status              180519 non-null  object
 6   late_delivery_risk           180519 non-null  int64
 7   category_id                  180519 non-null  object
 8   category_name                180519 non-null  object
 9   customer_city                180519 non-null  object
 10  customer_country             180519 non-null  object
 11  customer_fname               180519 non-null  object
 12  customer_id                  180519 non-null  object
 13  customer_lname               180511 non-null  object
 14  customer_segment             180519 non-null  object
 15  customer_state               180519 non-null  object
 16  department_id                180519 non-null  object
 17  department_name              180519 non-null  object
 18  market                       180519 non-null  object
 19  order_city                   180519 non-null  object
 20  order_country                180519 non-null  object
 21  order_customer_id            180519 non-null  object
 22  order_date_dateorders        180519 non-null  datetime64[ns]
 23  order_id                     180519 non-null  object
 24  order_item_cardprod_id       180519 non-null  object
 25  order_item_discount          180519 non-null  float64
 26  order_item_discount_rate     180519 non-null  float64
 27  order_item_id                180519 non-null  object
 28  order_item_product_price     180519 non-null  float64
 29  order_item_profit_ratio      180519 non-null  float64
 30  order_item_quantity          180519 non-null  int64
 31  sales                        180519 non-null  float64
 32  order_item_total             180519 non-null  float64
 33  order_profit_per_order       180519 non-null  float64
 34  order_region                 180519 non-null  object
 35  order_state                  180519 non-null  object
 36  order_status                 180519 non-null  object
 37  product_card_id              180519 non-null  object
 38  product_category_id          180519 non-null  object
 39  product_name                 180519 non-null  object
 40  product_price                180519 non-null  float64
 41  shipping_date_dateorders     180519 non-null  datetime64[ns]
 42  shipping_mode                180519 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(4), object(27)
memory usage: 59.2+ MB

### Identifying Missing Values

In [28]:
df_clean.isna().sum().sort_values(ascending=False).head(10)

customer_lname              8
type                        0
order_date_dateorders       0
order_item_cardprod_id      0
order_item_discount         0
order_item_discount_rate    0
order_item_id               0
order_item_product_price    0
order_item_profit_ratio     0
order_item_quantity         0
dtype: int64

Since there are only 8 missing values in 'customer_lname', 
it's a very tiny amount compared to the whole dataset. 
So, we are not making any changes here as it won't affect our final results.

## FEATURE ENGINEERING :-

### Delivery Delay

In [33]:
df_clean[["order_date_dateorders","shipping_date_dateorders"]].head()

  order_date_dateorders shipping_date_dateorders
0   2018-01-31 22:56:00      2018-02-03 22:56:00
1   2018-01-13 12:27:00      2018-01-18 12:27:00
2   2018-01-13 12:06:00      2018-01-17 12:06:00
3   2018-01-13 11:45:00      2018-01-16 11:45:00
4   2018-01-13 11:24:00      2018-01-15 11:24:00

In [40]:
df_clean["delivery_delay_days"] = (
    df_clean["shipping_date_dateorders"] - df_clean["order_date_dateorders"]
).dt.days

In [41]:
df_clean["delivery_delay_days"].describe()

count    180519.000000
mean          3.471856
std           1.670471
min           0.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           6.000000
Name: delivery_delay_days, dtype: float64

### Late Delivery Flag

In [43]:
df_clean["is_late_delivery"] = (
    df_clean["delivery_delay_days"] > 0
).astype(int)

In [44]:
df_clean["is_late_delivery"].value_counts()

is_late_delivery
1    170782
0      9737
Name: count, dtype: int64

In [45]:
df_clean[["delivery_delay_days", "is_late_delivery"]].head(10)

   delivery_delay_days  is_late_delivery
0                    3                 1
1                    5                 1
2                    4                 1
3                    3                 1
4                    2                 1
5                    6                 1
6                    2                 1
7                    2                 1
8                    3                 1
9                    2                 1

### Shipping Efficiency

In [46]:
df_clean["shipping_delay_vs_schedule"] = (
    df_clean["days_for_shipping_real"]
    - df_clean["days_for_shipment_scheduled"]
)

In [47]:
df_clean["shipping_delay_vs_schedule"].describe()

count    180519.000000
mean          0.565807
std           1.490966
min          -2.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           4.000000
Name: shipping_delay_vs_schedule, dtype: float64

### TIME-BASED FEATURES

In [48]:
df_clean["order_year"] = df_clean["order_date_dateorders"].dt.year

In [50]:
df_clean["order_month"] = df_clean["order_date_dateorders"].dt.month

In [51]:
df_clean["order_days_of_week"] = df_clean["order_date_dateorders"].dt.day_name()

In [52]:
df_clean[["order_year","order_month","order_days_of_week"]].head()

   order_year  order_month order_days_of_week
0        2018            1          Wednesday
1        2018            1           Saturday
2        2018            1           Saturday
3        2018            1           Saturday
4        2018            1           Saturday

### SALES & DISCOUNT FEATURES

In [54]:
df_clean["revenue_per_item"] = (
    df_clean["sales"] / df_clean["order_item_quantity"]
)

In [55]:
df_clean["discount_flag"] = (
    df_clean["order_item_discount"] > 0
).astype(int)

In [56]:
df_clean["high_quantity_flag"] = (
    df_clean["order_item_quantity"] >= 5
).astype(int)

In [57]:
df_clean[[
    "sales",
    "order_item_quantity",
    "revenue_per_item",
    "order_item_discount",
    "discount_flag",
    "high_quantity_flag"
]].head()

,sales,order_item_quantity,revenue_per_item,order_item_discount,discount_flag,high_quantity_flag
0,327.75,1,327.75,13.110000,1,0
1,327.75,1,327.75,16.389999,1,0
2,327.75,1,327.75,18.030001,1,0
3,327.75,1,327.75,22.940001,1,0
4,327.75,1,327.75,29.500000,1,0

### EXPORTING CLEANED DATA

In [58]:
df_clean.to_csv("dataco_supply_chain_cleaned.csv", index=False)

## Summary

In this notebook, raw supply chain data was cleaned, transformed,
and enhanced with meaningful features.
The final dataset is structured, analysis-ready, and optimized for
SQL querying and Power BI visualization.